/*-------------------------------------------------
   VARIABLES
-------------------------------------------------*/



/*---------------------------------------
   SECTION
-----------------------------------------*/

// could be problematic, test fully
.container {overflow-x:hidden;}

.user-profile-sidebar {
   width: 20%;
   float:left;
}

.user-profile-content-area {
   width: 80%;
   float:left;
}

.user-content-wrapper {
   width: 100% !important;
}

.user-main .about.collapsed-info .details .primary .avatar {
   width: unset;
   height:unset;
   margin: 0 auto;
}

.user-main .user-profile-image {
   position:relative;
   width:calc(100% + 22em);
   left: -11em;
   right: -11em;
}

.user-main .about .details img.avatar {float:unset;}

.user-main .about.collapsed-info .details .primary .avatar {width:180px; height:180px; max-width:77%; max-height:77%;}

.has-background .user-profile-avatar {margin-top: -111px; margin-bottom:23px;}

.user-profile-avatar div:first-of-type {position:absolute; left:50%; top:105%;}

.user-main .about .details .primary {text-align:center;}

.user-main .about.collapsed-info .details .primary {text-align:center;}

.user-main .about .details .primary .primary-textual .location-and-website {display:block; text-align:center;}

.user-main .details {width:unset !important;}

.details .controls {
   position:unset;
   right:unset;
}

.controls ul { margin:0 11px 0 0;}

.user-main .about .controls {text-align: unset; float:unset;}

.user-main .about .details .controls .btn {padding: 11px 9px;}

.user-main .about .secondary dl div {display:block; font-size: 0.8em;}

.user-secondary-navigation .nav-stacked a {display:inline-block; float:left;}

.user-gallery-page .noshow, .user-preferences-page .noshow, .user-badges-page .noshow, .user-invites-page .noshow, .user-notifications-page .noshow {display:none !important;}

.user-gallery-page #top-row-container, .user-preferences-page #top-row-container, .user-badges-page #top-row-container, .user-invites-page #top-row-container, .user-notifications-page #top-row-container {display:none !important;}